/*--------------------------------------------------------------
    [ ## Custom Container ]
--------------------------------------------------------------*/
.container {
    @include sm-devices {
        max-width: 570px;
    }
    @include md-devices {
        max-width: 740px;
    }
    @include lg-devices {
        max-width: 980px;
    }
    @include xl-devices {
        max-width: 1200px;
    }
    @include xxl-devices {
        max-width: 1400px;
    }
    @include xxxl-devices {
        max-width: 1700px;
    }
}
/*--------------------------------------------------------------
    [ ## Header ]
--------------------------------------------------------------*/
@import "header";


/*--------------------------------------------------------------
    [ ## Page Banner]
--------------------------------------------------------------*/
@import "page-banner";


/*--------------------------------------------------------------
    [ ## Site Pagees ]
--------------------------------------------------------------*/
@import "../pages/pages";


/*--------------------------------------------------------------
    [ ## Footer ]
--------------------------------------------------------------*/
@import "footer";